* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
}

.title {
  color: hsl(0deg, 0%, 10%);
}

p {
  color: hsl(0deg, 0%, 30%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 48px;
  padding-bottom: 48px;
}

main {
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}

.intro-chunk {
  max-width: 352px;
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  padding: 8px 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  max-width: max-content;
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: 0px;
  font-size: 1.25rem;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
